body{
    color:#ededed;

    h1, h2, h3, h4{
        color:#000;
    }

    article{
        background-color: #746b6b;
    }

    button{
        border:none;
        background-color:#bbbbbb;    
    }
        
}